*
    {
        margin: 0px;
        padding: 0px;   
    }

body    
    {
        background-color: rgb(255, 255, 255);
        background-image: url(stairs1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -10px;
        width: 100%;
        overflow-y: hidden;
    }

.walkPanda
    {
        margin-top: 450px;
        background-image: url(pandeez1.png);
        width: 250px;
        height: 350px;
        /* margin-bottom: -100px; */
        animation: panda 1s steps(12) infinite, walk 20s infinite linear;  
    }

@keyframes panda
    {
        0%{background-position: 0px}
        100%{background-position: 3000px}
    }   

@keyframes walk
    {
        0%{transform: translateX(-200px) translateY(0px)}
        20%{transform: translateX(200px) translateY(0px)}
        100%{transform: translateX(1500px) translateY(-800px)}
    }
